/target
/.bsp/
/.scala-build/
.history/
.metals/
.vscode/
**/.idea/
**/.bloop/
**/.scala-build/
**/.bsp/
**/target/
**/build/
!crates/sinter-core/src/build/
*.log
*.mv.db
# Large binary files
crates/sinter-core/bin/coursier
crates/sinter-core/bin/coursier.exe
crates/sinter-core/bin/scala-cli
crates/sinter-core/bin/scala-cli.exe
hello/project.toml
hello/src/main/scala/Main.scala
