[package]
name = "{name}"
version = "0.1.0"
main = "Main"
scala_version = "{scala_version}"
source_dir = "src/main/scala"
target_dir = "target"
test_dir = "src/test/scala"
backend = "{backend}"

[dependencies]
